* {
    box-sizing: border-box;
    margin: 5px auto;
}
#bai6 {
    width: 1000px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(155, 177, 250);

}
img {
    display: block;
    margin: auto;
}
h1, p {
    text-align: center;
}
#used2 {
    padding-bottom: 30px;
}
#cmt {
    width: 600px;
    height: 150px;
}
#comt {
    vertical-align: top;
}