*{
    box-sizing: border-box;
}
.container, .ar1, .ar3{
    border: 1px solid gray;
}
header{
    font: icon;
    color: aliceblue;
    background-image: url(../image/background.jpg);
}
nav>div{ 
    background-color: darkgray;
}
article{
    margin-top: 20px;
    margin-bottom: 20px;
}
article>img{
    margin-left: 15px;
    height: 20%; 
    width: 90%;
}
aside{
    border-left: 1px solid wheat;
    line-height: 40px;
    color: rgb(238, 140, 140);
    float: right;
}
footer{
    color: aliceblue;
    background-image: url(../image/background.jpg);
}
h4:hover{
    color: rgb(238, 140, 140);
    text-transform: uppercase;
}