*{
	box-sizing: border-box;
	margin: 0 auto;
}
.container-fluid{
	border: 0.1px solid black;
}

.navbar-nav>li>a{
	background-color: rgb(11, 11, 175);
	margin-right: 20px;
	color: white;
}
.online>input, .online>a>button{
	color: white;
	background-color: blue;
	margin-right: 10px;
}
nav{
	padding: 10px;
	padding-left: 30px;
	background-image: url(../image/flower.png);
	color: aliceblue;
	background-size: 2000px;
	border: 1px solid black;
}
#logo{
	padding-top: 5px;
	float: left;
}
nav>div>span{
	padding: 15px;
	border: 1px solid rgb(95, 76, 215);
	background-color: rgb(54, 66, 194);
	margin: 10px;
}
section{
	padding-left: 10px;
}
#flower{
	color: red;
	text-shadow: 5px 5px 3px #3eae06;
	float: left;
}
.why{
	font-size: 25px;
	padding-bottom: 10px;
	border-bottom: 1px dashed;
}

#ar1>div>div>input, #mess{
	width: 100%;
}

li{
	list-style-type: none;
}

aside{
	margin-top: 50px;
	border: 0.5px solid grey;
	background-color: rgb(226, 226, 226);
	padding-left: 15px;
}
aside>img{
	width: 95%;
	border: 0.1px solid black;
	margin-top: 10px;
	padding: 3px;
}
#read{
	margin-top: 25px;
	padding-right: 5px;
	color: blue;
	float: right;
}
footer{
	padding-left: 10px;
	padding-top: 15px;
	color: rgb(2, 182, 182);
	background-image: url(../image/flower.png);
	background-size: 1000px;
}
footer>span{
	color: aliceblue;
}
::placeholder{
	color: aliceblue;
}
